.showMe{
 color:black;
}
.hideMe{
  display: none; 
 }


 .imgThumb{
  width: 50px;
  height: 50px;
  cursor: pointer;
 }
 
.custInput{
    border-style: solid;
    border-color: var(--ion-color-light);
    border-radius: 5px;
    }
    .cust-card{
        border-radius: 5px;
    }
.custContent{
  
  
  white-space: nowrap;
}
    .custRow{
        margin-top: 5rem;
        }
.custCol{
  overflow-x: auto;
  height: 400px;
}
  .table{
       text-align: center;
    width: 100%;
    margin: 12px; 
    
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td, th {border: 1px solid #dddddd;text-align: center;padding: 4px; font-size: 16px;font-weight: bold;color: black;}