

<ion-content>
<ion-grid class="custRow" dir="rtl">
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" *ngIf="device == 'desktop'">
      <ion-card class="cust-card">
        <ion-card-header class="ion-text-center">
          <h3> Login </h3>
        </ion-card-header> 
        <ion-grid>
          <ion-row class=" ion-justify-content-center">
            <ion-col size="7" >
              <ion-item class="custInput">
                <ion-icon name="lock-closed-outline" slot="end" ></ion-icon>
              <ion-input [(ngModel)]="USER_INFO.user_name" placeholder="user_name" ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="7" >
              <ion-item class="custInput">
                 <ion-icon name="eye-outline" slot="end" ></ion-icon>
                  <ion-input type="password"  [(ngModel)]="USER_INFO.password" placeholder="password" ></ion-input>
              </ion-item> 
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button expand="block" routerDirection="root" color="success"  (click)="loginUser()">
                <ion-label class="ion-text-center" > Login</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>

    <ion-col size="12" *ngIf="device == 'mobile'">
      <ion-card class="cust-card">
        <ion-card-header class="ion-text-center">
          <h3> Login </h3>
        </ion-card-header> 
        <ion-grid>
          <ion-row class=" ion-justify-content-center">
            <ion-col size="7" >
              <ion-item class="custInput">
                <ion-icon name="lock-closed-outline" slot="end" ></ion-icon>
              <ion-input [(ngModel)]="USER_INFO.user_name" placeholder="user_name" ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="7" >
              <ion-item class="custInput">
                 <ion-icon name="eye-outline" slot="end" ></ion-icon>
                  <ion-input type="password"  [(ngModel)]="USER_INFO.password" placeholder="password" ></ion-input>
              </ion-item> 
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" >
              <ion-button expand="block" routerDirection="root" color="success"  (click)="loginUser()">
                <ion-label class="ion-text-center" > Login</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
