<ion-header>
  <ion-toolbar translucent dir="rtl"  class="toolPadding">
    <ion-title class="fontLarge">قضية جديدة </ion-title>

     <ion-buttons slot="end" class="ion-margin-end" (click)="close()">
       
      <div class="circleDev">
        <ion-button fill="clear">
          <ion-icon name="close-outline"  class="ico" ></ion-icon>
        </ion-button>  
      </div>  
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>


<ion-content class="ion-margin-top"> 
<ion-grid class="ion-margin-start ion-margin-bottom ion-margin-end">
  <ion-row class="ion-margin-top">
    <ion-col size="12">
   
    </ion-col> 
  </ion-row>

  <ion-row>
    <ion-segment dir="rtl" (ionChange)="segmentCHange($event)" [(ngModel)]="segVal" class="ion-margin-top">
      <ion-segment-button value="basics">
        <ion-label class="segLable">البيانات الأساسية</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nagz">
        <ion-label class="segLable">بيانات ناجز</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sessions">
        <ion-label class="segLable"> الجلسات  </ion-label>
      </ion-segment-button>
      <ion-segment-button value="files">
        <ion-label class="segLable">الملفات   </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <ion-row  *ngIf="segVal == 'basics'">
    <ion-card class="w100">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding" ><strong> عنوان القضية </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="اكتب عنوان هنا "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> العميل </strong></ion-label>
              <ion-item class="custInput" (click)="presentPopover($event)">
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedItem.name}}     </ion-label>
                <!-- <ion-button fill="clear" (click)="refresh('item')" slot="end">
                  <ion-icon name="refresh" color="success"></ion-icon>
                </ion-button> -->
              </ion-item>
              <ion-popover  #popover [isOpen]="isOpen" (didDismiss)="didDissmis()">
                <ng-template>
                  <ion-header>
                    <ion-toolbar dir="rtl">
                      <ion-item class="normalInput ">
                        <ion-input #popInput [(ngModel)] ="searchTerm" (ionChange)="searchItem($event)"></ion-input>
                        <!-- <ion-button fill="clear" (click)="clear()" slot="end">
                          <ion-icon name="close" color="danger"></ion-icon>
                        </ion-button>   -->
                       </ion-item>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding" dir="rtl"> 
                    <!-- spinner -->
                    <ion-list class="ion-text-center"  *ngIf="searchResult.length==0 && searchTerm =='' ">
                      <ion-label>
                        <ion-spinner name="lines-sharp"></ion-spinner>
                      </ion-label> 
                    </ion-list>
                     <ion-list *ngIf="searchResult.length>0">
                      <ion-item lines="none" button *ngFor="let item of searchResult" (click)="selectFromPop(item)">
                        {{item.name}} 
                      </ion-item>
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>


            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> نوع القضية </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverNotif($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedType.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverNotif [isOpen]="isOpenNotif" (didDismiss)="didDissmisNotif()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="caseTypeArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of caseTypeArr" (click)="selectFromPopTypes(log)">
                     <ion-grid >
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>   صفة الموكل </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverAgent($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedAgent.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِِAgent [isOpen]="isOpenAgent" (didDismiss)="didDissmisAgent()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="agentArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of agentArr" (click)="selectFromPopAgent(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>   تصنيف الخدمة </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverServ($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedServ.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِِِِServClass  [isOpen]="isOpenServ" (didDismiss)="didDissmisServ()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="servArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of servArr" (click)="selectFromPopServ(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>   الفرع </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverBranches($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedBranch.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِBranch [isOpen]="isOpenBranch" (didDismiss)="didDissmisBranches()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="BranchArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of BranchArr" (click)="selectFromPopBranch(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>   المحكمة </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCourt($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedCourt.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِِCourt [isOpen]="isOpenCourt" (didDismiss)="didDissmisCourt()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="courtArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of courtArr" (click)="selectFromPopCourt(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>




            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> إسم الخصم  </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> رقم هوية الخصم </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> إسم ممثل الخصم  </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>    تاريخ فتح القضية  </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
              </ion-item>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>      الموعد النهائي    </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
              </ion-item>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> فريق العمل   </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCustType($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label *ngFor="let tm of selectedTeamArr"> 
                  <ion-text >{{tm.name}}</ion-text>
                </ion-label>
              </ion-item>
              <ion-popover  #popoverِCustomer [isOpen]="isOpenCustType" (didDismiss)="didDissmisCustType()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="custTypeArr.length>0">
                     <ion-item button dir="rtl" lines="none" *ngFor="let log of custTypeArr ; let i = index"  (ionChange)="checkedTeam($event , log ,i)" >
                      <ion-label>{{log.name}} </ion-label>
                      <ion-checkbox  slot="start" [(ngModel)]="log.checked" > </ion-checkbox>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>


            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> الفوترة     </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverInvoice($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedInvoice.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِِِِInvoice [isOpen]="isOpenInvoice" (didDismiss)="didDissmisInvoice()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="invoiceArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of invoiceArr" (click)="selectFromPopInvoice(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

          


            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>   نوع المطالبة </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCost($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedCost.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverِِِِCost [isOpen]="isOpenCost" (didDismiss)="didDissmisCost()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="costArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of costArr" (click)="selectFromPopCost(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>  قيمة ساعة العمل    </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>    ساعة العمل المقدرة </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder=""></ion-input>
              </ion-item>
            </ion-col>

          

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> حالة القضية </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCase($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedCaseStatus.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverCase [isOpen]="isOpenCase" (didDismiss)="didDissmisCase()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="caseStatusArr.length>0">
                     <ion-item button lines="none" *ngFor="let log of caseStatusArr" (click)="selectFromPopCase(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col> 
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-card-header class="listHed">
        <ion-button   fill="outline" (click)="saveBasics()"  color="medium" class="custButton rad10">
          <ion-icon class="ico " color="dark" name="add-circle-outline"></ion-icon>
             <ion-text color="dark"> حفــظ   </ion-text>     
        </ion-button> 
      </ion-card-header>
    </ion-card>
  </ion-row>

  <ion-row  *ngIf="segVal == 'nagz'">
    <ion-card class="w100">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding" ><strong> رقم القيد </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder=""></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding" ><strong> رقم القضية </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder=""></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding" ><strong> رقم القضية بالأرشيف</strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder=""></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>    تاريخ  الدعوة  </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
              </ion-item>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> تصنيف القضية </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCategNagz($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedCategNagz.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverCategNagz [isOpen]="isOpenCategNagz" (didDismiss)="didDissmisCategNagz()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="caseCategArrNagz.length>0">
                     <ion-item button lines="none" *ngFor="let log of caseCategArrNagz" (click)="selectFromPopCategNagz(log)">
                     <ion-grid>
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>


            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> نوع القضية </strong></ion-label>
              <ion-item class="custInput"  (click)="presentPopoverCaseNagz($event)" >  
                <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                <ion-label> {{selectedCaseNagz.name}}     </ion-label>
              </ion-item>
              <ion-popover  #popoverCaseNagz [isOpen]="isOpenCaseNagz" (didDismiss)="didDissmisCaseNagz()">
                <ng-template>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center"  *ngIf="caseTypeArrNagz.length>0">
                     <ion-item button lines="none" *ngFor="let log of caseTypeArrNagz" (click)="selectFromPopCaseNagz(log)">
                     <ion-grid >
                       <ion-row class="ion-justify-content-center">
                         <ion-col size="9"> 
                             {{log.name}}    
                         </ion-col>
                         <!-- <ion-col size="3">
                           <ion-text color = "primary">{{log.datee | dateAgo}}</ion-text>
                         </ion-col> -->
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong>  أسانيد القضية </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> طلبات المدعي </strong></ion-label>
              <ion-item class="custInput"> 
                <ion-input placeholder="  "></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="4" class="ion-margin-top">
           <ion-label class="ion-padding"><strong> إرسال تقرير </strong></ion-label>
             <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" dir="rtl">
                    <ion-label> رسالة نصية SMS </ion-label>  
                    <ion-checkbox  slot="start"> </ion-checkbox>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none" dir="rtl">
                  <ion-label> البريد  </ion-label> 
                    <ion-checkbox slot="start"> </ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
             </ion-grid>
            </ion-col>

            <ion-col size="12" class="ion-margin-top">
              <ion-label class="ion-padding"><strong> موضوع الدعوة </strong></ion-label>
              <ion-item class="custInput"> 
                  <ion-textarea placeholder="Type something here"[autoGrow]="true">

                  </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-card-header class="listHed">
        <ion-button   fill="outline" (click)="saveNagz()"  color="medium" class="custButton rad10">
          <ion-icon class="ico " color="dark" name="add-circle-outline"></ion-icon>
             <ion-text color="dark"> حفــظ   </ion-text>     
        </ion-button> 
      </ion-card-header>
    </ion-card>
  </ion-row>

  <!-- sesions  -->


  <ion-row  *ngIf="segVal == 'sessions'">
    <ion-grid class="ion-margin-start ion-margin-bottom ion-margin-end">
      <ion-row class="ion-margin-top">
        <ion-card class="w100 ion-margin-top">
          <ion-card-header class="listHed">
            <ion-button class="rad10"  fill="outline"  color="medium">
              <ion-icon color="dark"  slot="icon-only" name="filter"></ion-icon>
            </ion-button>
            <ion-button class="rad10"  fill="outline"  color="medium">
              <ion-icon  slot="icon-only" color="dark" name="refresh"></ion-icon>
            </ion-button>
            <ion-button   fill="outline" (click)="newSession()"  color="medium" class="custButton rad10">
              <ion-icon class="ico " color="dark" name="add-circle-outline"></ion-icon>
                <ion-text color="dark">جلسة جديدة </ion-text>     
            </ion-button>
          </ion-card-header>
          <ion-grid class="ion-no-padding"> 
            <ion-row>
              <ion-col size="12" class="ion-no-padding custCol">
                <table  class="table"  >
                  <tr>
                    <th>
                      عنوان الجلسة  
                    </th> 
                    <th>   الحضور
                    </th> 
                    <th>  العميل 
                    </th>
                    <th >تاريخ الجلسة   
                    </th>
                    <th>  ضابط الجلسة    
                    </th> 
                      
                  
                    <th><strong>تعديل</strong>  </th> 
                    
                  </tr>
                  <tr>
                    <td>
                      <ion-text>            </ion-text>
                      
                    </td>
                    <td>
                      <ion-text>       </ion-text>
                      
                    </td>
                  
                  
                    <td>
                      <ion-text>          </ion-text>
                    </td> 
                    <td>
                      <ion-text>           </ion-text> 
                    </td>
                    <td>
                      <ion-text  >   12/12/2012        </ion-text>
                      
                    </td> 
                  
                  
                  
                    
                    <td>
                      <ion-button fill="clear" ><ion-icon name="edit" color="meduim"></ion-icon></ion-button>
                    </td>
                    
    
                    </tr>
                    <tr>
                      <td>
                        <ion-text>              </ion-text>
                        
                      </td>
                      <td>
                        <ion-text>       </ion-text>
                        
                      </td>
                    
                    
                      <td>
                        <ion-text>          </ion-text>
                      </td> 
                      <td>
                        <ion-text>       </ion-text> 
                      </td>
                      <td>
                        <ion-text  >            </ion-text>
                        
                      </td> 
                    
                    
                    
                      
                      <td>
                        <ion-button fill="clear" ><ion-icon name="edit" color="meduim"></ion-icon></ion-button>
                      </td>
                      
      
                      </tr> 
                    
                      
    
    
                      
    
    
    
                  <!-- <tr>
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                    <td>  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                    <td><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                  </tr> -->
                  
                </table> 
                </ion-col>
            </ion-row>
          </ion-grid> 
    
          <!-- <ion-card-header class="listHed">
            <ion-button class="rad10"  fill="clear"   >
              <ion-icon color="dark"   name="chevron-forward"></ion-icon>
              <ion-text color="dark" >السابق</ion-text> 
            </ion-button>
            <ion-button class="rad10 fleft"  fill="clear"   > 
              <ion-text color="dark"  >التالي</ion-text>
              <ion-icon color="dark"   name="chevron-back"></ion-icon> 
            </ion-button>
          </ion-card-header> -->
        </ion-card>
      </ion-row>
    </ion-grid>
   </ion-row>

   <!-- files -->
   <ion-row  *ngIf="segVal == 'files'">
    <ion-grid class="ion-margin-start ion-margin-bottom ion-margin-end">
      <ion-row class="ion-margin-top">
        <ion-card class="w100 ion-margin-top">
          <ion-card-header class="listHed">
            <ion-button class="rad10"  fill="outline"  color="medium">
              <ion-icon color="dark"  slot="icon-only" name="filter"></ion-icon>
            </ion-button>
            <ion-button class="rad10"  fill="outline"  color="medium">
              <ion-icon  slot="icon-only" color="dark" name="refresh"></ion-icon>
            </ion-button>
            <ion-button   fill="outline" (click)="newSession()"  color="medium" class="custButton rad10">
              <ion-icon class="ico " color="dark" name="add-circle-outline"></ion-icon>
                <ion-text color="dark"> إضافة ملف </ion-text>     
            </ion-button>
          </ion-card-header>
          <ion-grid class="ion-no-padding"> 
            <ion-row>
              <ion-col size="12" class="ion-no-padding custCol">
                <table  class="table"  >
                  <tr>
                    <th>
                      وصف الملف  
                    </th> 
                    <th>نوع الملف    
                    </th> 
                    <th>تاريخ الإضافة   
                    </th>
                    
                      
                  
                    <th><strong>تحميل</strong>  </th> 
                    <th><strong>تعديل</strong>  </th> 
                    
                  </tr>
                  <tr>
                    <td>
                      <ion-text>            </ion-text>
                      
                    </td>
                    <td>
                      <ion-text>       </ion-text>
                      
                    </td>
                  
                  
                    <td>
                      <ion-text>          </ion-text>
                    </td> 
                     
                    <td>
                      <ion-text  >   12/12/2012        </ion-text>
                      
                    </td> 
                  
                    <td>
                      <ion-button fill="clear" ><ion-icon name="download" color="meduim"></ion-icon></ion-button>
                    </td>
                    <td>
                      <ion-button fill="clear" ><ion-icon name="edit" color="meduim"></ion-icon></ion-button>
                    </td>
                    </tr>
                    <tr>
                      <td>
                        <ion-text> </ion-text>
                      </td>
                      <td>
                        <ion-text></ion-text>
                      </td>
                    
                    
                      <td>
                        <ion-text>          </ion-text>
                      </td> 
                      <td>
                        <ion-text>       </ion-text> 
                      </td>
                      <td>
                        <ion-text  >            </ion-text>
                        
                      </td> 
                    
                    
                    
                      
                      <td>
                        <ion-button fill="clear" ><ion-icon name="edit" color="meduim"></ion-icon></ion-button>
                      </td>
                      
      
                      </tr> 
                    
                      
    
    
                      
    
    
    
                  <!-- <tr>
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td> 
                    <td><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                    <td>  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                    <td><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></td>
                  </tr> -->
                  
                </table> 
                </ion-col>
            </ion-row>
          </ion-grid> 
    
          <!-- <ion-card-header class="listHed">
            <ion-button class="rad10"  fill="clear"   >
              <ion-icon color="dark"   name="chevron-forward"></ion-icon>
              <ion-text color="dark" >السابق</ion-text> 
            </ion-button>
            <ion-button class="rad10 fleft"  fill="clear"   > 
              <ion-text color="dark"  >التالي</ion-text>
              <ion-icon color="dark"   name="chevron-back"></ion-icon> 
            </ion-button>
          </ion-card-header> -->
        </ion-card>
      </ion-row>
    </ion-grid>
   </ion-row>

  </ion-grid>

</ion-content>
