 <ion-header>
  <ion-toolbar>
    <ion-title>الرئيسية</ion-title>
  </ion-toolbar>
</ion-header>

 <!--<ion-content>
<ion-list>
  <ion-item> 
    <ion-label>concat  </ion-label>
    <ion-button (click)="concatArr()"> map</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>map </ion-label>
    <ion-button (click)="map()"> map</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>filter </ion-label>
    <ion-button (click)="filter()"> filter</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>reduce </ion-label>
    <ion-button (click)="reduce()">reduce  </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>first </ion-label>
    <ion-button (click)="first()">first  </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>take </ion-label>
    <ion-button (click)="take()">first  </ion-button>
  </ion-item>

  <ion-label>Ignores values emitted by the source observable that are equal to the previous value </ion-label>
  <ion-item> 
    <ion-label>distinctUntilChanged </ion-label>
    <ion-button (click)="distinctUntilChanged()">distinctUntilChanged  </ion-button>
  </ion-item>

</ion-list>
<ion-item-divider></ion-item-divider>
<ion-list>
  <ion-list-header>
    <ion-label>Search with debounceTime observable : Ignores values emitted by the source observable that are followed by another value within a specified time period.: </ion-label>
  </ion-list-header>
  <form [formGroup]="form">
    <input formControlName="search" placeholder="Search">
  </form>
</ion-list>

<ion-item-divider></ion-item-divider>
<ion-list>
<ion-label>  Maps each value emitted by the source observable to an inner observable and concatenates the inner observables.
</ion-label>
<ion-item> 
  <ion-label>concatMap simple</ion-label>
  <ion-button (click)="concatMap()">concatMap simple  </ion-button>
</ion-item>

<ion-label>  Maps each value emitted by the source observable to an inner observable and cancels the previous inner observable when a new value is emitted.
 
</ion-label>
<ion-item> 
  <ion-label>swichMap simple</ion-label>
  <ion-button (click)="swichMap()">swichMap simple  </ion-button>
</ion-item>

</ion-list>
</ion-content>  -->
