<ion-header>
  <ion-toolbar translucent dir="rtl" class="toolPadding">
    <ion-title class="fontLarge" > <ion-text>    إضافة الخدمات القانونية للعقد  </ion-text>  <ion-text>-   </ion-text></ion-title>
    <ion-buttons slot="end" class="ion-margin-end" (click)="close()">
      <div class="circleDev">
        <ion-button fill="clear">
          <ion-icon name="close-outline" class="ico"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top">
  <ion-grid class="ion-margin-start ion-margin-bottom ion-margin-end">
    <ion-row>
      <ion-card class="w100">
        <ion-card-content>
          <ion-grid> 
            <ion-row>
              <ion-col size="8" offset="4" class="ion-margin-top">
                <ion-radio-group  value="case" [(ngModel)]="serviceType" (ionChange)="serviceCange($event)" dir="rtl">
                <ion-label class="ion-padding"><strong>  نوع الخدمة  </strong></ion-label>
                  <ion-grid class="ion-no-padding">
                  <ion-row class="custInput">
                    <ion-col class="ion-no-padding">
                      <ion-item lines="none" dir="rtl">
                        <ion-label> قضايا </ion-label>  
                        <ion-radio value="case"  slot="start"> </ion-radio>
                      </ion-item>
                    </ion-col>
        
                    <ion-col class="ion-no-padding">
                      <ion-item lines="none" dir="rtl">
                      <ion-label> استشارات  </ion-label> 
                        <ion-radio value="consultation" slot="start"> </ion-radio>
                      </ion-item>
                    </ion-col>

                    <ion-col class="ion-no-padding">
                      <ion-item lines="none" dir="rtl">
                        <ion-label> اخري </ion-label> 
                        <ion-radio value="contract" slot="start"> </ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  </ion-grid>
                </ion-radio-group>
              </ion-col>
            
              <ion-col size="4"   *ngIf="serviceType == 'case'">
                <ion-label class="ion-padding"><strong> اختر القضية  </strong></ion-label>
                <ion-item class="custInput" (click)="presentPopoverCase($event)">
                  <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                  <!-- <ion-label> {{selectedService.title}}     </ion-label> -->
                  
                </ion-item>
                <ion-popover  #popoverCase [isOpen]="isOpenCase" (didDismiss)="didDissmisCase()">
                  <ng-template>
                    <ion-header>
                    </ion-header>
                    <ion-content class="ion-padding" dir="rtl"> 
                    
                      <ion-list class="ion-text-center"  *ngIf="loadingCase == true ">
                        <ion-label>
                          <ion-spinner name="lines-sharp"></ion-spinner>
                        </ion-label> 
                      </ion-list>
                       <ion-list *ngIf="CasesArray.length > 0 ">
                        <ion-item button *ngFor="let item of CasesArray" (click)="selectFromPopCase(item)">
                          {{item.case_title }}  -    <strong > {{item.client_name }} </strong>
                        </ion-item>
                      </ion-list> 
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>

              <ion-col size="4"   *ngIf="serviceType == 'consultation'"> 
                <ion-label class="ion-padding"><strong> اخترالإستشارة  </strong></ion-label> 
                <ion-item class="custInput" (click)="presentPopoverConsult($event)">
                  <ion-icon name="chevron-down" color="medium" slot="end"></ion-icon> 
                  <!-- <ion-label> {{selectedService.title}}     </ion-label>  -->
                </ion-item>
                <ion-popover  #popoverConsult [isOpen]="isOpenConsult" (didDismiss)="didDissmisConsult()">
                  <ng-template>
                    <ion-header>
                    </ion-header>
                    <ion-content class="ion-padding" dir="rtl">  
                      <ion-list class="ion-text-center"  *ngIf="loadingConsult == true ">
                        <ion-label>
                          <ion-spinner name="lines-sharp"></ion-spinner>
                        </ion-label> 
                      </ion-list>
                       <ion-list *ngIf="consultationsArray.length > 0 ">
                        <ion-item button *ngFor="let item of consultationsArray" (click)="selectFromPopConsult(item)">
                          {{item.title }}  -    <strong > {{item.customer }} </strong>
                        </ion-item>
                      </ion-list> 
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>


              <ion-col size="4" *ngIf="serviceType == 'contract'"> 
                <ion-label class="ion-padding"><strong>   عنوان الخدمة    </strong></ion-label> 
                <ion-item class="custInput"> 
                <ion-input  placeholder="عنوان الخدمة" ></ion-input>
              </ion-item>
              </ion-col>

              <ion-col size="4"> 
                  <ion-label class="ion-padding"><strong>   تعليق    </strong></ion-label> 
                <ion-item class="custInput"> 
                  <ion-input  placeholder="تعليق" ></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="4" >
                <ion-button class="ion-margin-top" fill="outline" color="primary" (click)="addToListService()">
                  <ion-icon name="add" color="primary"></ion-icon>
                  <ion-label>إضافة خدمة</ion-label>
                </ion-button> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-header class="listHed">
          <ion-button fill="outline" (click)="saveBasics()" color="medium" class="custButton rad10">
            <ion-icon class="ico" color="dark" name="add-circle-outline"></ion-icon>
            <ion-text color="dark">حفــظ</ion-text>
          </ion-button>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>