<ion-header dir="rtl">
  <ion-toolbar > 
    <ion-title ><ion-text  *ngIf="user_info && store_info">{{payInvo.pay_id}}</ion-text> تعديل فاتورة مبيعات</ion-title> 
    <ion-buttons  slot="end"> 
    <!-- <ion-button fill="clear" class="ion-margin"  (click)="changeMode()"  > 
      <ion-label><ion-icon name="wifi-outline" [color]="color" style="font-size:20px"></ion-icon></ion-label> 
      <ion-label><ion-text color="dark"  *ngIf="color == 'primary'">متصل</ion-text></ion-label>   
      <ion-label><ion-text  color="dark" *ngIf="color == 'dark'">غير متصل</ion-text></ion-label>
    </ion-button>  -->

    <ion-button fill="clear" (click)="back()">
      <ion-icon name="arrow-back-sharp"></ion-icon>
    </ion-button> 
    </ion-buttons> 
  
  </ion-toolbar>
</ion-header>



<ion-content> 

<!-- <ion-grid  *ngIf="user_info && store_info" >
  <ion-row dir="rtl">
    <ion-col size="12">
      <ion-card  class="ion-no-padding ion-no-margin">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row dir="rtl">
            <ion-col size="4">
              <ion-radio-group [(ngModel)]="radioVal"  (ionChange)="radioChange($event)" >
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row>
                    <ion-col class="ion-no-padding ion-no-margin">
                      <ion-item lines="none" >
                        <ion-radio [value]="0" class="ion-margin-end"></ion-radio>
                        <ion-label>قائمة الحسابات </ion-label> 
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin">
                      <ion-item lines="none" >
                        <ion-radio [value]="1" class="ion-margin-end"></ion-radio>
                        <ion-label>حساب جديد</ion-label> 
                      </ion-item>
                    </ion-col> 
                  </ion-row>
                </ion-grid> 
              </ion-radio-group>
            </ion-col>
            <ion-col size="3" offset="2">
              <ion-item lines="none" >
                <ion-label>
                  نوع الفاتورة
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item lines="none">
                <input style="width:100%"  type="date"  id="startingDate" name="startingDate" [(ngModel)]="payInvo.pay_date"  />
                <ion-input type="date"  [(ngModel)]="payInvo.pay_date"  placeholder="التاريخ"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>  
          <ion-row>
            <ion-col size="3" offset="1" *ngIf="radioVal == 0 "> 
              <ion-item class="custInput">
                <input  *ngIf="sub_account" class="bnone" placeholder="اختر  حساب العميل" list="accountsSales" id="accountSales" [(ngModel)]="selectedAccount.sub_name"  (change)="pickAccount($event)">
                <datalist *ngIf="sub_account" style="border: none;" id="accountsSales" style="height: auto;max-height: 20px;">
                  <option *ngFor="let ac of sub_account ; let i = index"   [value]="ac.sub_name"></option>
                </datalist>
                <ion-label *ngIf="!sub_account">
                  <ion-text color="danger" >خطأ في التحميل </ion-text>
                 </ion-label>
                <ion-button  *ngIf="!sub_account" fill="clear" size="small" slot="end" (click)="refresh('account')">
                  <ion-icon name="refresh" color="success"></ion-icon>
                </ion-button>   
              </ion-item>   
            </ion-col>
            <ion-col size="3" offset="1"    *ngIf="radioVal == 1"> 
              <ion-item class="custInput"> 
               <ion-input [(ngModel)]="sub_nameNew" ></ion-input>
              </ion-item>   
            </ion-col>

             <ion-col size="4" offset="1">
              <ion-item class="custInput"> 
                <ion-radio-group [(ngModel)]="radioVal2"  (ionChange)="radioChange2($event ,'from')" >
                  <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row>
                      <ion-col class="ion-no-padding ion-no-margin">
                        <ion-item lines="none" >
                          <ion-radio [value]="0" class="ion-margin-end"></ion-radio>
                          <ion-label> مبدئية </ion-label> 
                        </ion-item>
                      </ion-col>
                      <ion-col class="ion-no-padding ion-no-margin">
                        <ion-item lines="none" >
                          <ion-radio [value]="1" class="ion-margin-end"></ion-radio>
                          <ion-label>  نهائية </ion-label> 
                        </ion-item>
                      </ion-col> 
                    </ion-row>
                  </ion-grid> 
                </ion-radio-group> 
              </ion-item> 
            </ion-col>  
          
              <ion-col size="3" class="ion-text-start">
              <ion-item class="custInput"> 
                <ion-input placeholder="أكتب تعليقا" [(ngModel)]="payInvo.payComment"></ion-input>
               </ion-item>   
            </ion-col>  
          </ion-row>
         </ion-grid> 
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-grid  *ngIf="user_info && store_info" >
  <ion-row dir="rtl">
    <ion-col size="12" class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-card class="items-container2">
              <ion-popover  #popoverNotif [isOpen]="isOpenNotif" (didDismiss)="didDissmisQtPop()">
                <ng-template>
                  <ion-header>
                    <ion-toolbar dir="rtl" class="ion-text-center">
                      <ion-item *ngIf="showMe == cellIndex" class="custInput">
                        <ion-input style="text-align :center" (keyup.enter)= "editCellPop(cellIndex)" [(ngModel)]="itemList[cellIndex].quantity"
                          (ionBlur)="editCell(cellIndex)"></ion-input>
                      </ion-item>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content  dir="rtl">  
                    <ion-list class="ion-text-center">
                     <ion-item lines="none" button *ngFor="let qt of NumberArray" (click) = "editCellPop(cellIndex,qt)">
                     <ion-grid >
                       <ion-row>
                         <ion-col size="9" class="ion-text-center"> 
                           <ion-label><ion-text color="dark">  {{qt}}</ion-text> </ion-label>     
                         </ion-col> 
                       </ion-row>
                     </ion-grid>
                   </ion-item> 
                    </ion-list> 
                  </ion-content>
                </ng-template>
              </ion-popover>


              <table class="table">
                <tr>  
                  <th></th>
                  <th>الصنف</th>
                  <th>الكمية</th>
                  <th>السعر + الضريبة </th>
                  <th>الضريبة %</th>
                  <th>الخصم </th>
                  <th>المجموع</th>
                </tr>
                <tr *ngFor="let item of itemList ; let i = index" (click)="presentPopoverQtyPop($event , i)" style="cursor: pointer;">
                  <td>
                    <ion-button fill="clear" size="small" (click)="deleteItem(i)">
                      <ion-icon name="trash" color="danger"></ion-icon>
                    </ion-button>
                  </td>
                  <td style=" max-width: 100px; overflow: hidden;white-space: normal;"> {{item.item_name}} </td>
                  <td>
                    <ion-text >{{item.quantity}}</ion-text>
                    <!-- <ion-item *ngIf="showMe == i">
                      <ion-input (keyup.enter)="editCell(i)" [(ngModel)]="item.quantity"
                        (ionBlur)="editCell(i)"></ion-input>
                    </ion-item> -->
                  </td>
                  <td>
                    <ion-text >{{+item.pay_price + (+item.tax/100 * +item.pay_price )}}</ion-text>
                    <!-- <ion-item *ngIf="showMe == i">
                      <ion-input (keyup.enter)="editCell(i)" [(ngModel)]="item.pay_price"
                        (ionBlur)="editCell(i)"></ion-input>
                    </ion-item> -->
                  </td>
                  <td>
                    <ion-text >{{item.tax}} %</ion-text>
                  </td>
                   <td>
                    <ion-text >{{item.disc}}</ion-text>
                  </td>
                  <td>{{+item.tot}}</td>
                  
                </tr>
              </table>
            </ion-card>
            <ion-card >
              <ion-grid>
                <ion-row>
                   <ion-col size="3" class="ion-margin-top">
                    <ion-label><strong>صافي المبلغ  </strong> </ion-label><br>
                    <ion-label>  <ion-text>{{payInvo.tot_pr}} </ion-text></ion-label> 
                  </ion-col> 
                  
                  <ion-col size="3" class="ion-margin-top">
                    <ion-label ><strong>الخصــم </strong> <br>  <ion-text>{{payInvo.discount}} </ion-text></ion-label>
                  </ion-col>

                  <ion-col size="3"  class="ion-margin-top">
                    <ion-label><strong>الضريبة </strong> </ion-label><br>
                    <ion-label>  <ion-text>{{payInvo.taxTot}} </ion-text></ion-label>
                  </ion-col>

                  <ion-col size="3"   class="ion-margin-top" class="totaClass dash">
                    <ion-label ><strong>  المجموع </strong></ion-label><br>
                    <ion-label>   <ion-text>{{taxAll}} </ion-text></ion-label>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>


          <ion-col size="7">
            <!-- brand list -->
            <ion-row *ngIf="brandList.length>0" class="cardContainer">
              <ion-card>
                <ion-segment (ionChange)="segmentChanged($event)" scrollable = "true" class="seg">
                  <ion-segment-button *ngFor="let brand of brandList" [value]="brand.brand">
                    {{brand.brand}}
                  </ion-segment-button>
                </ion-segment>
                
                <ion-grid class="items-container"> 
                  <ion-row *ngIf="filteredItems.length>0">  
                      <ion-col size="3" *ngFor="let item of filteredItems" class="cardImg">
                        <div class="price-tag">{{+item.pay_price + (+item.tax/100 * +item.pay_price)}}</div>
                        <ion-card (click)="addTolistClick(item)" >
                          <img alt="" [src]="item.imgUrl"> 
                        </ion-card>
                        <div class="item-title">
                          <p class="ion-text-center">
                            {{ item.item_name }}
                          </p>
                        </div>
                      </ion-col> 
                  </ion-row> 
                </ion-grid>
              </ion-card>
            </ion-row> 
          </ion-col>
            <!-- totals -->
          <!-- <ion-col size="3" class="ion-no-padding" *ngIf="payInvo">
            <ion-card class="items-container2">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="ion-margin-top">
                    <ion-label class="ion-padding"><strong>صافي المبلغ  :</strong>  <ion-text>{{payInvo.tot_pr}} </ion-text></ion-label>
                  
                  </ion-col>
                  
                  <ion-col size="12" class="ion-margin-top">
                    <ion-label class="ion-padding"><strong>الخصــم :</strong>  <ion-text>{{payInvo.discount}} </ion-text></ion-label>
                    
                  </ion-col>

                  <ion-col size="12"  class="ion-margin-top">
                    <ion-label class="ion-padding"><strong>الضريبة : </strong>  <ion-text>{{payInvo.taxTot}} </ion-text></ion-label>
                    
                  </ion-col>

                 
                  <ion-col size="12"   class="ion-margin-top">
                    <ion-label class="ion-padding"><strong>  صافي المبلغ مع الضريبة  :</strong> <ion-text>{{taxAll}} </ion-text></ion-label>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col> -->
        </ion-row>
      </ion-grid>
      </ion-col> 
  </ion-row>

</ion-grid>

</ion-content>
<ion-footer>
<ion-grid dir="rtl">
  <ion-row class="ion-justify-content-end" *ngIf="payInvo">
    <ion-col size="9" class="ion-no-padding" >
        <ion-grid dir="rtl">
          <ion-row >
            <ion-col size="4" dir="ltr">
              <ion-radio-group [(ngModel)]="payInvo.pay_method">
                <ion-item  lines="none">
                  <ion-label class="radioLbl">نقدا</ion-label>
                  <ion-radio value="cash"></ion-radio>
                  <ion-label  class="radioLbl">بطاقة</ion-label>
                  <ion-radio value="card"></ion-radio>
                  </ion-item>
                  </ion-radio-group>
            </ion-col>
            <ion-col size="2">
              <ion-label class="ion-padding"><strong> المستلم نقدا </strong></ion-label>
              <ion-item class="custInput">
                <ion-input [(ngModel)]="payInvo.pay" (ionChange)="payChange($event)"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="2">
              <ion-label class="ion-padding"><strong>   الخصــم</strong></ion-label>
              <ion-item class="custInput">
                <ion-input [(ngModel)]="payInvo.discount" (ionChange)="discountChange($event)"></ion-input>
              </ion-item>
            </ion-col>
            
            <ion-col size="2" >
              <ion-label class="ion-padding"><strong>المتبقي </strong></ion-label>
              <ion-item class="custInput">
                <ion-input [(ngModel)]="payInvo.changee" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col> 

             
          </ion-row>
          <ion-row class="ion-justify-content-center"> 
            <ion-col size="5">
             <!-- <div *ngIf="printArr">
              <qrcode [qrdata]="printArr[0].qrcodedata" size="256" level="'M'"></qrcode>
             </div>  -->
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-col>

    <ion-col size="2">
      <ion-button class="custButton" expand="block" routerDirection="root" color="primary" (click)="save()">
        <ion-icon name="checkmark-sharp" color="light" slot="end"></ion-icon>
        <ion-label class="ion-text-center"> OK </ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
