.custInput{
    border-style: solid;
    border-color: var(--ion-color-light);
    border-radius: 5px;
    }

    .show{ visibility: visible; }

  .hide{visibility: hidden;}
  
    .cust-card{
        border-radius: 5px;
    }

    .custRow{
        margin-top: 5rem;
        
        }

  .table{text-align: center;width: 100%; margin: 12px;}

  tr:nth-child(even) {background-color: #dddddd;}
  
  td, th {border: 1px solid #dddddd;text-align: center;padding: 8px; font-size: 16px;font-weight: bold;color: black;}